<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<div class="container-fluid">
			<% include partials/template/header.ejs %>
			<section>
				<div>
					<% include partials/content/intro.ejs %>						
				</div>
			</section>
			<%	include partials/template/footer.ejs %>
		</div>
		<%	include partials/template/jsdefaults.ejs %>
	</body>
</html>
