<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body class="container-fluid">
			<% include partials/content/header.ejs %>
			<% include partials/content/focus-customer.ejs %>
			<% include partials/content/jtbd-framework-intro.ejs %>
			<% include partials/content/jtbd-focus.ejs %>
			<% include partials/content/principes-the-job.ejs %>
			<% include partials/content/footer.ejs %>
			<% include partials/template/jsdefaults.ejs %>
	</body>
</html>
