<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/template/head.ejs %>
</head>
<body class="container-fluid">

	
	<% include partials/content/header.ejs %>
	<% include partials/content/intro.ejs %>
	<% include partials/content/what-focus.ejs %>
	<% include partials/content/principals-intro.ejs %>
	<% include partials/content/principes-job.ejs %>
	<% include partials/content/principes-consideration-set.ejs %>
	<% include partials/content/principes-hire-fire.ejs %>
	<% include partials/content/principes-forces.ejs %>
	<% include partials/content/what-think-about.ejs %>
	<% include partials/content/practices-intro.ejs %>
	<% include partials/content/practices-timeline.ejs %>
	<% include partials/content/practices-interview.ejs %>
	<% include partials/content/practices-forces-diagram.ejs %>
	<% include partials/content/learn-more-intro.ejs %>
	<% include partials/content/learn-more.ejs %>




	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
