<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
	<% include partials/template/header.ejs %>
	<section class="layout">
		<div class="intro">
			<% include partials/content/intro.ejs %>						
		</div>
		<aside class="secondary">
			<div>Porro asperiores deserunt et eveniet labore vitae, ipsam voluptatum magnam deleniti eligendi blanditiis voluptatibus! Veritatis corrupti, voluptate laboriosam. Laudantium distinctio, nam consectetur dolorem necessitatibus sequi maxime perferendis quaerat expedita quas?</div>

		</aside>
	</section>
	<%	include partials/template/footer.ejs %>
	<%	include partials/template/jsdefaults.ejs %>
</body>
</html>
