<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/template/head.ejs %>
</head>
<body class="container-fluid">

	
	<% include partials/content/header.ejs %>



	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
