
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

@import url(http://fonts.googleapis.com/css?family=Roboto);


/*
EFECCA
E6E2AF
A7A37E
046380
002F2F
*/
body {
	/*margin-top: 50px;  50px is the height of the navbar - change this if the navbarn height changes */
	background-color: #FCFCFC;
}

h1, h2, h3, h4, h5, h6, p{
	
	font-family: 'Roboto', sans-serif;
	/*font-weight: 100;*/
}

.row{
	padding-left: 80px;
	padding-right: 80px;
}

