<section class="row fullWidth intro">
	<div class="small-8 small-offset-1 end columns">
		
		<p>What's Jobs to be Done?  Who uses it? How can I use it to make & sell products?</p>

		<p>jtbd.info was created to answer as many questions like these as possible. Here, you'll learn about the philosphy, principals and practices at whichever speed you want. If you read all the content, you'll have the building blocks and guidence to be able to apply Jobs to be Done to your product and company.</p>

		<p>It's divded into chapters which can be read sequentually, or not. If you're not sure where to start or just want to "get it all", start with an Introduction to Jobs to be Done and continue on from there.</p>

		<p>If you prefer to have this information in a book format, download a .PDF or get the Kindle version.</p>

	</div>
</section>

<section class="row fullWidth">
	<div class="small-3 small-offset-1 columns chapter ch-1">
		<h3>Introduction</h3>
		<p>Why we buy products</p>
	</div>
	<div class="small-3 columns chapter ch-1">
		<h3>Part Two</h3>
		<p>Learn about why jobs are good</p>
	</div>	
	<div class="small-3 end columns chapter ch-1">
		<h3>Part Two</h3>
		<p>Learn about why jobs are good</p>
	</div>
</section>