<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/">
					<p>Hello this is a link</p>	
				</a>
			</div>	
		</section>
	</div>

	<div class="navigation">
		<section class="layout">
		
		</section>
	</div>

</header>