@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto:300,400|Fjalla+One);
body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Fjalla One', sans-serif;
  color: #f5f5f5;
}

a {
  /*color: #00B7FF;*/
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;

}

#headline{
	background-color: #303f9f;
}

#intro{

	background-color: #303f9f;
}

#intro .lead{
	font-family: 'Fjalla One', sans-serif;
}

#intro img{
	/*width: 100%;*/
	height: 600px;
}

#who-use{
	background-color: #00796b;
}

#who-use-boxes{
	background-color: #00796b;
}

#who-use-boxes h4{
	text-align: center;
}

#focus-customer{
	background-color: #303f9f;
}

#focus-customer img{
	width: 100%;
}

#jtbd-framework-intro{
	background-color: #455a64;
}

#jtbd-framework-intro h1{
	font-family: 'Shadows Into Light', cursive;
	color: #e64a19;
}

.jtbd-focus{
	padding-top: 50px;
	text-align: center;
	background-color: #512da8;
	color: black;
	font-family: 'Shadows Into Light', cursive;
}

.jtbd-focus p{

	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}

.jtbd-focus .panel-title{
	font-size: 40px;
}

.uber-text{
	font-size: 100px;
	font-family: 'Shadows Into Light', cursive;
}

#principes-the-job{
	background-color: #607d8b;
}

#principes-the-job img{
	width: 100%;
}




