/*Never changes*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,900,900italic,700);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

/*ultilty*/
.shadowlv0{ box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1); }
.shadowlv1{ box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.shadowlv2{ box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.shadowlv3{ box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.shadowlv4{ box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.shadowlv5{ box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.hot{color: #e57e47;}

.italic{font-style: italic;}

	/*.constrain-content{margin-left:auto; margin-right:auto; max-width: 970px;}*/

.container-fluid{margin-right: auto;}

/*baseline: colors & fonts*/
body { background-color: #f2f2f2; color: #4E4E4E; font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5{color: #505050; font-weight: 200;}
h2, h3{ font-family: 'Shadows Into Light Two', cursive; letter-spacing: 1px;}
a:hover{ text-decoration:none; color: #CFBBCD; }

header{color: #f5f5f5;}
header h2{color: #f5f5f5;}
footer{ background-color: #def6ff ;}

.dialog { box-sizing: border-box; background-color: white; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;}

.divider{ color: #709C9E;}


/*never change*/
header p{ max-width: 100%;}

.video{margin-top: 15px;}

#page-header{text-align: center;}
#page-header{color: #f5f5f5; background: #217383 url(/images/bubbels-75.png) repeat 50% 0;}
#page-header h1{ color: #f5f5f5;}

#principals-intro{background: #874484 url(/images/zoom-baloon-05.png) no-repeat 400% 0;}

.principals h1{color: #e57e47; margin-bottom: 0px;}
.principals h3{color: #808080;}

#principes-job-img-container{ text-align: center;}

.horizontal-img-container{background-color: #e2f3f7;}
.horizontal-img-container img { width:100%;}

.hire-fire-switch-img{background-color: #e2f3f7;}
#principes-hire-fire-switch{padding-top: 0px;}
#principes-hire-fire-switch img {max-width: 100%;}

#forces-img-container{ margin-top: 50px; padding-top: 0px; background-color: #e2f3f7;}
#forces-img-container img{width:100%;}
#forces-img-container{padding-bottom: 0px;}

#practices-intro{background: #2b88af url(/images/looking-goggles.png) no-repeat 80% 0;}

#practices-forces-diagram img{ max-width: 100%; }

#practices-interview-container { text-align: center;}
#practices-interview-container img{ max-width: 650px; }

#learn-more{padding: 50px 0 150px; margin:50px 0 0;}
#learn-more{background-color: #387747;}

#learn-more-content{margin-top: -100px;}

#footer{ background-color: #632e5f; color:#8C9DA3; padding: 35px 0px 25px;}
#footer a{ }


/* xs */
@media(max-width:767px){

}

/* sm */
@media(min-width:768px){ 

}

/* md+ */
@media(min-width:992px){

	h1{ font-size: 80px;}
	h2{ font-size: 36px;}
	h3{ font-size: 28px;}
	h4{ font-size: 20px;}
	p{ max-width: 425px; font-size: 15px;letter-spacing: .1px;  -webkit-font-smoothing: antialiased; }
	ul {margin-top: 25px;}

	header{padding: 125px 0px 50px; }

	section{margin-top: 50px;};
	section p{max-width: 450px;}

	.is-below-image{margin-top: 30px;}
	.img-caption{font-size: 14px; margin-top: 0px;}

	.dialog{ margin-bottom: 15px; padding: 10px 25px 15px}
	.dialog > .title { margin-bottom: 18px; }



	#page-header{padding: 100px 0 125px; }
	#page-header p{font-size: 22px; font-weight:300; line-height: 30px; margin: 0 auto;}

	#intro img {max-height:500px; max-width:288px; margin-top: -45%;}

	#what-focus{margin-bottom: -50px;}

	.principals h1{ font-size: 65px;}
	.principals h3{ margin: 0px 0px 20px; font-size: 22px;}

	#principes-job-img-container{ margin-top: 30px;}
	#principes-job-img-container img{ max-width: 250px;}

	.horizontal-img-container{ padding-top: 20px;}

	/*#arrow{padding-top: 40px;}*/
}

