@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,900,900italic,700);

h1, h2, h3, h4, p, ul, ol, li{
	font-family: 'Roboto', sans-serif;
}

header {
	padding-top: 150px;
	padding-bottom: 75px;
	background-color: #03a9f4;
	color: #fff;
}

header h1{
	color: #fff;
	bottom: 35%;
	font-size: 4.5em;
	height: 1em;
	left: 0;
	line-height: 1;
	margin: auto;
	text-align: left;
	width: auto;
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.columns{
	/*padding-left: 75px;*/
}

.intro{
	padding-top: 50px;
}

.chapter h3{
	color: white;
	font-size: 1.25em;

}

.chapter p{
	color: white;
}

.ch-1{
	background-color: #ff4081;
}


.intro p {
	color: #6c6c6c;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.8;
}

