@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto:400,100,100italic,400italic,500,500italic|Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
body{
	line-height: 1.7857;
	letter-spacing: .3px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
	letter-spacing: .8px;
	line-height: 130%;
}

h2{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 40px;
}

h3{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 25px;
}

h1 small{
	color: #AAA;
	font-size: 35%;
}

img{
	/*margin-top: 20px;*/
	/*margin-bottom: 10px;*/
	text-align: center;
}

a:hover{
  text-decoration:none;
  color: #934289;
}


.keyword-link{
	color: #ff8a65;
	font-size: 150%;
    /*text-decoration: underline;*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.panel-jtbd{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);	
	border: 5px solid #F1E2F1;
	background-color: #F0E8F0;
}

.panel-jtbd-head{
	background-color: #F0E8F0 !important;
	/*border-bottom: 1px solid orange !important;*/
}

.hot{
	/*color: #e64a19;*/
	/*color: #ff3d00;*/
	/*color: #ff6e40;*/
	color: #ff8a65;
	font-weight: 400;

	/*color: #ff5722;*/
}

.bigger{
	font-size: 150%;
}

.keyword{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 125%;
}

.emphasis{
	font-style: italic;
}

.heavy6{
	font-weight: 600;
}

.full-img img{
	width: 100%;
}

.super{
	font-size: 70px;
}

.vertical-arrow{
	height:101px; width:31px; margin:auto;
}

.fa{
	color: rgb(219, 217, 217);
}

.small{
	color: rgb(199, 199, 199);
}

/*****
****
*****
*/


/*header*/

#header{
	padding: 150px 0px 100px;
	color: #f5f5f5;
	background: #607d8b
	url(/images/speech-bubbles-50.png) 
	repeat 50% 0;
}

#header p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#lead p{
	margin: 0px auto 100px;
	max-width: 800px;
	font-size: 24px;
}

/*focus-customer*/

#focus-customer{
	padding: 50px 0px 100px;
	color: #646464;
	background-color: #f5f5f5;
}


/*framework-intro*/

#framework-intro{
	padding: 50px 0px 100px;
	background-color: #ffffff; 
}

#framework-intro h1{
	text-align: center;
}

#framework-intro h1{
	margin: 25px 0px 50px;
	
}

#framework-intro h2{
	font-size: 50px;
}

#framework-intro h3{
	font-size: 30px;
}

#framework-intro p, li{
	color: #646464;
}

/*what-focus*/

#what-focus{
	padding: 100px 0px 100px;
	/*background-color: #F5F2F4; */
}

#what-focus h2{
	color: #813D81;
	font-family: 'Fjalla One', sans-serif;
	font-size: 45px;
}

#what-focus p{
	/*font-family: 'Shadows Into Light Two', cursive;*/
	/*font-size: 20px;*/
}

.panel-head{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}


/*who-use-jtbd*/

#who-use-jtbd{
	padding: 50px 0px 100px;
	/*background-color: #607d8b;*/
}

#who-use-jtbd h1{
	font-size: 80px;
	font-family: 'Shadows Into Light Two', cursive;
	/*background-color: #607d8b;*/
}


/*header-principals*/


#header-principals{
	padding: 100px 0px 150px;	
	background-color: #607d8b;
}

#header-principals h1{
	font-style: italic;
	font-weight: 400;
	font-size: 150px;
	color: #b2dfdb;
}

#header-principals p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #CECECE;
}


/********************principals*/

.principals{
	padding: 50px 0px 100px;
}

.principals h1{
	font-size: 140px;
	color: #ff8a65;
}

.principals h3{
	margin-top: 0px;
	margin-bottom: 50px;
}

.principals img{
	text-align: center;
	width: 100%;
}


/*principes-job*/

#principes-job-containers{
	text-align: center;
}

/*principes-the-hire-fire*/
/*Switch*/

#principes-the-hire-fire{
	border: 1px solid #eee
}

#fire-container{
	margin-top: 50px;
}

#principes-the-consideration-set h1{
	font-size: 80px;
}

#switch-container h1{
	font-size: 150px;
}

#why-switch h2{
	text-align: center;
}

/*principes-big-hire-little-hire*/

#principes-big-hire-little-hire{
	/*background-color: #ebdceb;*/
	border: 1px solid #eee
}

#principes-big-hire-little-hire h1{
	font-size: 100px;
}

#big-little-hire-container{
	margin-top: 100px;
}

/*#big-hire-header{
	font-size: 150px;
}

#little-hire-header{
	font-size: 100px;
}
*/

#principes-the-hire-fire img{
	/*border: 1px solid #BAC8DE;*/
	width: 100%;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@media (max-width: 768px) {

	h1, h2, h3{
		font-family: 'Fjalla One', sans-serif;
		font-size: 32px;
		letter-spacing: .8px;
		line-height: 130%;
	}

	h2{
		font-family: 'Shadows Into Light Two', cursive;
		font-size: 25px;
		text-align: center;
	}

	h3{
		font-family: 'Shadows Into Light Two', cursive;
		font-size: 25px;
		text-align: center;
	}

	#header{
		padding: 50px 0px 100px;

	}

	#lead p{
		margin: 0px auto 25px;
		font-size: 18px;
	}

}
