<!-- Staging -->
<section class="row" id="clay-video">
	<div class="col-lg-offset-3 col-lg-6">
		<div class="dialog shadowlv2">
			<div class="embed-responsive embed-responsive-16by9 video">
				<iframe class="embed-responsive-item" src="//www.youtube.com/embed/f84LymEs67Y?rel=0" allowfullscreen=""></iframe>
			</div>
			<h4 class="title">Watch Clay Christensen talk about a customer's Job</h4>
			<div class="content">
				<p>In this 5 min video, Christensen does a remarkable job of succiently describing the concept of the Job and why we need to focus on it.</p>
			</div>
		</div>
	</div>
</section>
