<section class="row" id="focus-customer">
	<div class="col-md-12">
		<div class="row">		
			<div class="col-md-8 col-md-offset-2">
				<img src="/images/products-fail.png" alt="">	
			</div>
		</div>		
		<div class="row">
			<div class="col-md-5 col-md-offset-1">		
				<h2>Why not focus on the customer?</h2>
				<p>Traditionaly, anyone wanting to build and sell a successful product spent a lot of time focusing on the customer.</p>
				
				<p class="text-center">Demographic data were collected<br>Customer goals were defined<br>Desired outcomes were measured</p>
				
				<p>Then, segments based on these data and attributes were created so customers could be organized into easy to reference categories. Even with these precise tools and extensive data, some ¾ of products fail.</p>

				<p>For countless product designers and marketers, how to design & sell products which don’t fail is a mystery - a black box sealed from the inside.</p>
			</div>
<!-- 			<div class="col-md-2 text-center full-img">
				<img src="/images/balloon.png">	
			</div> -->
			<div class="col-md-5">
				<h2>A focus on the Job & it's context</h2>
				
				<p>The solution: an understanding that customers don't buy products because of who there, but rather because they have a Job to get done.</p>
				
				<p>When thinking shifts from focusing on customer attributes and goals, to understanding a customer’s job to be done & it's surrounding context, it allows product designers and marketers to open up that black box. </p>
				
				<p>When this happens, they have a better chance at not only making & selling a successful product, but creating a business which competitors will find difficult to compete against.</p>
			</div>
		</div>
	</div>
</section>
