<section class="row" id="focus-customer">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
				<img src="/images/products-fail.png" alt="">	
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h2 class="hand-font">Why not focus on the customer?</h2>
			</div>
		</div>


		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5" >
				<p>Traditionaly, anyone wanting to build and sell a successful product spent a lot of time focusing on the customer.</p>
				
				<p class="text-center">Demographic data were collected<br>Customer goals were defined<br>Desired outcomes were measured</p>
				<p>Then, segments based on these data and attributes were created so customers could be organized into easy to reference categories. Even with these precise tools and extensive data, some ¾ of products fail.</p>			
			</div>
			<div class="col-md-5 col-lg-5">
				<p>Products which focus on the customer themselves often fail because customers don't buy products because of who they are; rather, they buy products because they have a Job to be done.</p>

				<p>This explains why customers who are different in almost every way, buy the same products. It also explains why product and marketing teams who focus on the customer are often lead astray - when focusing on the customer, they become inundated by conficting, disparate information. </p>

				<p>The Jobs-to-be-Done framework helps us know what to focus on and what not to.</p>

			</div>
		</div>
	<!-- 	<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h3 class="hand-font">What should we focus on?</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">

				<p>Product teams and businesses should focus on the customer's Job and the context which extends before and after buying and using it.</p>
		
			</div>
			<div class="col-md-5 col-lg-5">

				<p>When thinking shifts from focusing on customer attributes and goals, to understanding a customer’s job to be done & it's surrounding context, it allows product designers and marketers to open up that black box. </p>
				
				<p>When this happens, they have a better chance at not only making & selling a successful product, but creating a business which competitors will find difficult to compete against.</p>			
			</div>
		</div> -->

	</div>
</section>
