<section class="row" id="focus-customer">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h2 class="hand-font">Why not focus on the customer?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5" >

				<p>Every time someone makes a purchase, it’s because some situation has arisen in their lives which they want to solve.</p>

				<p>That's what a <span class="hot plus-125 jtbd-font-00">Job</span> is: it's a situation which a customer is trying to resolve.</p>
			</div>
			<div class="col-md-5 col-lg-5">
				<p>To get their Jobs done, customers usually need something, some product, to help them. <span class="jtbd-font-700">Discovering</span> what Job the customer is trying to get done, <span class="jtbd-font-700">understanding</span> how they make decisions and <span class="jtbd-font-700">applying</span> this knowledge to sell and create products is why the Jobs-to-be-Done framework was created.</p>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
				<img src="/images/products-fail.png" alt="">	
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h3 class="hand-font">What should we focus on?</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">

				<p>To help create and sell successfull products, businesses and product teams should focus on the Jobs customers are trying to get done & the context surrounding these Jobs.</p>
				
				<p>It's important to understand that customers don't buy products because of who there, but rather because they have a Job to get done.</p>
		
			</div>
			<div class="col-md-5 col-lg-5">

				<p>When thinking shifts from focusing on customer attributes and goals, to understanding a customer’s job to be done & it's surrounding context, it allows product designers and marketers to open up that black box. </p>
				
				<p>When this happens, they have a better chance at not only making & selling a successful product, but creating a business which competitors will find difficult to compete against.</p>			
			</div>
		</div>

	</div>
</section>
