<section class="row" id="focus-customer">
	<div class="col-md-6">		
 		<h2>Shifting Focus To The Job</h2>

		<p>When thinking shifts from focusing on customer attributes and goals, to understanding a customer’s job to be done, it allows product designers and marketers to open up that black box. When this happens, they have a better chance at not only making a successful product, but creating a business which competitors will find difficult to compete against.</p>
	</div>
	<div class="col-md-6">
		<div class="text-center">
			<img src="/images/1.c.-34-Products-Fail_stacked.png" alt="">
		</div>		
	</div>
</section>