<footer id="footer">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<p>Concept, code, & design by <a href="http://alanklement.com" target="_blank">Alan Klement</a>.<br/>
				Illustrations & design by Margaret Wilkins.
			</p>
		</div>
		<div class="small-12 medium-6 columns">
			
			<p>Special thanks to <a href="https://twitter.com/marksweep" target="_blank">David Wu</a> for feedback & support.<br/>
				"Think more about" & "Think less about" adapted from <a href="https://twitter.com/jppandith">Pandith Jantakahalli's</a> "<a href="http://www.slideshare.net/jppandith/how-to-know-what-customers-really-want">How to know what your customers really want?</a>" 
			</p>
			</div>
		</div>
</footer>