<section class="row" id="framework-intro"> 
	<div class="col-md-12">
		<div class="row">
		<div class="col-md-12 text-center">
				<h1>Get Customers To <span class="hot emphasis">Hire</span> Your Product For Their <span class="hot emphasis">Jobs</span></h1>
			</div>

		</div>
		<div class="row">		
			<div class="col-md-4 col-md-offset-2">

				<h3>What's the Jobs-to-be-Done framework?</h3>
				<p>The Jobs-to-be-Done framework is first: a collection of principals and practices which help businesses and product designers understand, not just what job customer's are trying to get done, but the context surrounding the customer as they struggle to get the job done.</p>				
				<p>After understanding the customer's job and it's context, the framework helps us translate these understandings into marketing and product design descesions.</p>
				<div  class="text-center">
					<h2>Huh?</h2>
					<h3>You mean the customer's "Goals" & "Desired Outcomes"?</h3>			
				</div>
				<p>Not really... Simply knowing a customer's "Goals" or "Desired Outcomes" only helps a little. In some cases, it can make design harder.</p>
			</div>	

			<div class="col-md-4">
				<h3 class="text-center">"Make it easier! Make it more reliable! Make it fast!"</h3>
				<p>As customers we're not very good at expressing, in actionable terms, what we want - either as Goals or Desired Outcome. It's just not something we spend a lot of time thinking about.</p>
				<p>When a customer says "Easier", well, what do they mean by that? "Easier" compared to what?</p>
				<p>Asking someone to explain 'easier' is actaully pretty hard. But they can explain the emotions they felt while they struggled with their job. If you pay attention, know what you're looking for and know what questions to ask... you'll know what "easier" means.</p>
			</div>
		</div>
	</div>	
</section>