<section class="row" id="framework-intro"> 
	<div class="col-md-12">
		<div class="row">
		<div class="col-md-12">
				<h1>Get customers to <span class="hot plus-150">Hire</span> your product for their <span class="hot plus-150">Jobs</span></h1>
			</div>

		</div>
		<div class="row">		
			<div class="col-md-4 col-md-offset-2">

				<h2>What's the Jobs-to-be-Done framework?</h2>
				<p>The Jobs-to-be-Done <span class="italic">(JTBD)</span> framework does two things for us:</p>
				<ul>
					<li><p>Suggests principals and practices which help businesses and product designers understand, not just what job customers are trying to get done, but the context surrounding the customer as they struggle to get a job done.</p></li>
					<li><p>After understanding a customer's job and it's context, the framework helps us translate these understandings into marketing and product design decisions.</p></li>
				</ul>				
				<div>
					<!-- <h2>Huh?</h2> -->
					<h3>You mean the customer's "Goals" & "Desired Outcomes"?</h3>			
				</div>
				<p>Not really... simply knowing a customer's "Goals" or "Desired Outcomes" only helps a little. In some cases, it can make design harder.</p>
			</div>	

			<div class="col-md-4">
				<h3 class="text-center">"Make it easier!<br/>Make it more reliable!<br/>Make it fast!"</h3>
				<p>As customers we're not very good at expressing, in actionable terms, what we want - either as Goals or Desired Outcome. It's just not something we spend a lot of time thinking about.</p>
				
				<h3 class="text-center">"easier" compared to what?</h3>
				
				<p>For most people, explaining what "easier" means, is actaully pretty hard. But they can explain the emotions they felt while they struggled with their job. If you pay attention, know what you're looking for and know what questions to ask... you'll know what "easier" means and how to translate that into marketing messages and product design.</p>

				<p>context surrounding the customer</p>
			</div>
		</div>
	</div>	
</section>