<section class="row" id="framework-intro-copy"> 
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h2 class="hand-font">What's the Jobs-to-be-Done framework?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5" >
				<p>The Jobs-to-be-Done <span class="italic">(JTBD)</span> framework does two things for us:</p>
				<ul>
					<li><p>Suggests principals and practices which help businesses and product designers understand, not just what job customers are trying to get done, but the context surrounding the customer as they struggle to get a job done.</p></li>
					<li><p>After understanding a customer's job and it's context, the framework helps us translate these understandings into marketing and product design decisions.</p></li>
				</ul>
				<p>As customers we're not very good at expressing, in actionable terms, what we want. It's just not something we spend a lot of time thinking about.</p>	
			</div>
			<div class="col-md-5 col-lg-offset-1 col-lg-4 text-center">
				<img class="shadowlv1" src="images/hire.png">
				<p>Get customers to <span class="hot plus-150">Hire</span> your product for their <span class="hot plus-150">Jobs</span></p>
			</div>
		</div>
	</div>
</section>


<!-- 

	<div class="col-sm-offset-1 col-sm-10 col-md-6 col-md-offset-1">


		<h2>Huh?</h2>
			<h3 class="hand-font">You mean the customer's "Goals" & "Desired Outcomes"?</h3>			
		</div>
		<p>Not really... simply knowing a customer's "Goals" or "Desired Outcomes" only helps a little. In some cases, it can make design harder.</p>
	</div>	

	<div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-4">
		<h3 class="hand-font text-center">"Make it easier!"</h3>
		<p>As customers we're not very good at expressing, in actionable terms, what we want. It's just not something we spend a lot of time thinking about.</p>

		<h3 class="text-center hand-font">"easier" compared to what?</h3>

		<p>For most people, explaining what "easier" means, is actaully pretty hard. But they can explain the emotions they felt while they struggled with their job. If you pay attention, know what you're looking for and know what questions to ask... you'll know what "easier" means and how to translate that into marketing messages and product design.</p>
	</div> -->