<section class="row  text-center" id="framework-intro"> 
		<br/>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center" >
		<img class="shadowlv1" src="images/hire.png">
		<p>Get customers to <span class="hot plus-150">Hire</span> your product for their <span class="hot plus-150">Jobs</span></p>
	</div>
</section>