<section class="row" id="framework-intro-copy"> 
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-8">
				<h2 class="hand-font">What's the Jobs-to-be-Done framework?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-offset-1 col-md-5" >

<!-- 				<p>The Jobs-to-be-Done framework, came from the need to develop tools which product designers and marketers can use to understand how customers make purchase decisions and how they use products for their Jobs.</p> -->
				<p>The Jobs-to-be-Done framework was created to help us design businesses and products which focus on the Job customers are trying to do, instead of customers themselves.</p>
				
				<p>At it's core, The Jobs-to-be-Done <span class="italic">(JTBD)</span> framework does two things for us:</p>
				<ul>
					<li><p>Suggests principals and practices which help businesses and product designers understand, not just what Job customers are trying to get done, but the <span class="plus-125">context</span> surrounding the customer as they struggle to get a job done.</p></li>
					<li><p>After understanding a customer's Job and it's context, the framework helps us translate these understandings into marketing and product design decisions.</p></li>
				</ul>
				
			</div>
			<div class="col-xs-12 col-md-5" >

				<p>Just acknowledging that customers have a Job and exploring their desired outcomes is missing out on the wealth of information available to us. </p>
				<p>The key to accessing this information is to understand that product use (consumption) is wrapped around by an emotionaly rich context which can extend far before a product purchase, to well after the customer uses it.</p> 

				<p>Recognizing, exploring and understanding this context is why the Jobs-to-be-Done framework (JTBD), was created.</p>
				
			</div>
		</div>
		<div class="row">
			
			<div class="col-xs-8 col-xs-offset-2 text-center">
				<img class="" src="images/hire.png">
				<p>Get customers to <span class="hot plus-150">Hire</span> your product for their <span class="hot plus-150">Jobs</span></p>
			</div>
		</div>
	</div>
</section>
