<header id="page-header">
	<div class="row">
		<div class="col-xs-12"> 
			<h1 class="hidden-xs">a Jobs-to-be-Done primer</h1>				
			<h1 class="visible-xs hidden-sm hidden-md hidden-lg">a primer for <br/>Jobs-to-be-Done</h1>				
			<p>Quickly get an overview of the Jobs-to-be-Done framework and start using it today</p>
			<ul class="list-inline hidden-xs">
				<li>intro</li>
				<li class="divider">|</li>
				<li>principals</li>
				<li class="divider">|</li>
				<li>practices</li>
				<li class="divider">|</li>
				<li>learn more & be involved</li>
			</ul>						

			<ul class="list-unstyled hidden-sm hidden-md hidden-lg">
				<li>intro</li>
				<li class="divider">-</li>
				<li>principals</li>
				<li class="divider">-</li>
				<li>practices</li>
				<li class="divider">-</li>
				<li>learn more & be involved</li>
			</ul>						
		</div>
	</div>

</header>

