<section id="headline" class="row">
	<div class="col-md-12">
		<h1 class="text-center">Know The Customer’s Job. Make A Better Product.</h1>
		<h2 class="text-center">Get started learning what Jobs-to-be-Done is about and how to make better products &business with it.</h2>
	</div>
</section>

<header id="intro" class="row">
	<section class="col-md-6">
		<!-- <p class="lead">The Job To Be Done and The Jobs-to-be-Done Framework</p> -->
		<p class="lead">What product did you last hire? What Job did you use it for?</p>
		<p>Every time someone makes a purchase, it’s because a situation has arisen in their lives which they want to solve. Something that helps someone solve this situation, is doing a Job for them. And in deciding which product to use for this Job, they consider their options and make tradeoffs. If they are able to consume a product, they will have Hired it ( use it ) to help them solve their the Job to be done. </p>
		<p class="lead">When a customer’s job to be done is understood, making and selling products becomes easier and more successful.</p>
		<p>Understanding a customer’s job to be done, learning how they make decisions and applying this knowledge to selling and developing products is why the Jobs-to-be-Done framework was created. It’s an open source, community driven collection of principles and practices which anyone can use.</p>

	</section>

	<section class="col-md-6">
		<img src="images/1.a. Intro Hot Air Balloon.png" alt="">
	</section>
</header>

<section id="headline" class="row">
	<div class="col-md-12">
		<h1 class="text-center">Know The Customer’s Job. Make A Better Product.</h1>
		<h2 class="text-center">Get started learning what Jobs-to-be-Done is about and how to make better products &business with it.</h2>
	</div>
</section>


<header id="intro" class="row">
	<section class="col-md-4">
		<p class="lead">What product did you last hire? What Job did you use it for?</p>
		<p>Every time someone makes a purchase, it’s because a situation has arisen in their lives which they want to solve. Something that helps someone solve this situation, is doing a Job for them. And in deciding which product to use for this Job, they consider their options and make tradeoffs. If they are able to consume a product, they will have Hired it ( use it ) to help them solve their the Job to be done. </p>

	</section>

	<section class="col-md-4">
	<div class="text-center">
			<img src="images/1.a. Intro Hot Air Balloon.png" alt="">
	</div>
	</section>

	<section class="col-md-4">

		<p class="lead">When a customer’s job to be done is understood, making and selling products becomes easier and more successful.</p>
		<p>Understanding a customer’s job to be done, learning how they make decisions and applying this knowledge to selling and developing products is why the Jobs-to-be-Done framework was created. It’s an open source, community driven collection of principles and practices which anyone can use.</p>
		
	</section>

</header>

<header id="intro" class="row">
	<section class="col-md-8">
		<h1 >Know The Customer’s Job. Make A Better Product.</h1>
		<h2 >Get started learning what Jobs-to-be-Done is about and how to make better products &business with it.</h2>
		<!-- <p class="lead">The Job To Be Done and The Jobs-to-be-Done Framework</p> -->
		<p class="lead">What product did you last hire? What Job did you use it for?</p>
		<p>Every time someone makes a purchase, it’s because a situation has arisen in their lives which they want to solve. Something that helps someone solve this situation, is doing a Job for them. And in deciding which product to use for this Job, they consider their options and make tradeoffs. If they are able to consume a product, they will have Hired it ( use it ) to help them solve their the Job to be done. </p>
		<p class="lead">When a customer’s job to be done is understood, making and selling products becomes easier and more successful.</p>
		<p>Understanding a customer’s job to be done, learning how they make decisions and applying this knowledge to selling and developing products is why the Jobs-to-be-Done framework was created. It’s an open source, community driven collection of principles and practices which anyone can use.</p>

	</section>

	<section class="col-md-4 text-center">
		<img src="images/1.a. Intro Hot Air Balloon.png" alt="">
	</section>
</header>