<header  id="page-header">
	<div class="row">
		<div class="small-12 columns"> 
			<h1 class="show-for-medium-up">a Jobs-to-be-Done primer</h1>				
			<h1 class="show-for-small-only">a primer for <br/>Jobs-to-be-Done</h1>				
			<p>Quickly get an overview of the Jobs-to-be-Done framework and start using it today</p>
			<ul>
				<li>intro</li>
				<li class="divider">|</li>
				<li>principals</li>
				<li class="divider">|</li>
				<li>practices</li>
				<li class="divider">|</li>
				<li>learn more & be involved</li>
			</ul>										
		</div>
	</div>

</header>

