<section class="row" id="header">
	<div class="col-sm-offset-0 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10"> 
 		<h1 class="hidden-xs">a Jobs-to-be-Done primer</h1>
 		<h1 class="visible-xs">a primer for<br/>Jobs-to-be-Done</h1>
		<p id="lead">A place to learn about the customer's Job, the principals & practices of the Jobs-to-be-Done framework and why they help create better products & businesses.</p>						
	</div>
</section>

