<section class="row" id="header">
	<div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-8"> 
		<!-- <h1>Design for your customer’s Job and build a better product</h1> -->
<!-- 		<h1>Know the customer’s <span class="plus-125">Job</span></br>Build better products & businesses</h1>		
 -->
 		<h1>What <span class="plus-125">Job</span> does your product do?</h1>

		<h2 id="lead">Learn about the customer's Job, the Jobs-to-be-Done framework and how to build better products & business with them.</h2>						
	</div>

<!-- 	<div class="col-sm-3 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-2 hidden-xs">
		<img src="images/balloon-small.png" alt="">
	</div>

	<div class="visible-xs col-xs-6 col-xs-offset-4">
		<img src="images/balloon-small.png" alt="">
	</div> -->

</section>

<!-- <img src="images/balloon-small.png" alt=""> -->
