<section class="row" id="principes-the-job">
	<div class="col-md-12">
		<h1 class="uber-text text-center">Principals</h1>
		<p>To help product designers and businesses use the Jobs-to-be-Done principals for product design, practices such as Forces Diagram, Timeline and Jobs-to-be-Done interviews have been created.</p>

		<p>The key thing to remember with these practices is, these are tools for conversation - not deliverables which are highly refined. They are meant to help practitioners frame their thinking and provide a common language when communicating with co-workers or with other collaborators.</p>
	</div>
	
</section>
