<header class="row" id="header-principals">
	<div class="col-xs-12 hidden-xs">
		<div class="row">
			<div class="col-xs-12">
				<h1>JTBD Principals</h1>
			</div>
		</div>
		<p>Introducing important terms such as:</p>
		<p>
			<ul class="list-inline">
				<li><a href="#principes-job" class="keyword-link">Job</a></li>
				<li><a href="#principes-the-consideration-set" class="keyword-link">Consideration Set</a></li>
				<li><a href="#hire-container" class="keyword-link">Hire</a></li>
				<li><a href="#fire-container" class="keyword-link">Fire</a></li>
				<li><a href="#switch-container" class="keyword-link">Switch</a></li>
				<li><a href="#principes-big-hire-little-hire" class="keyword-link">Big & Little Hire</a></li>
				<li><a href="#principes-forces" class="keyword-link">Forces</a></li>
			</ul>
		</p>
	</div>
	<div class="col-xs-12 visible-xs">
		<h1>JTBD Principals</h1>
		<p>Introducing:</p>
		<p>
			<ul class="list-unstyled">
				<li><a href="#principes-job" class="keyword-link">Job</a></li>
				<li><a href="#principes-the-consideration-set" class="keyword-link">Consideration Set</a></li>
				<li><a href="#hire-container" class="keyword-link">Hire</a></li>
				<li><a href="#fire-container" class="keyword-link">Fire</a></li>
				<li><a href="#switch-container" class="keyword-link">Switch</a></li>
				<li><a href="#principes-big-hire-little-hire" class="keyword-link">Big & Little Hire</a></li>
				<li><a href="#principes-forces" class="keyword-link">Forces</a></li>
			</ul>
		</p>
	</div>
</header>
