<section class="row" id="header-principals">
	<div class="col-md-12">
		<h1 >JTBD Principals</h1>
		<p>Introducing:
		the <a href="#principes-job" class="keyword-link">Job</a>, 
		the <a href="#hire-container" class="keyword-link">Hire</a>, 
		the <a href="#fire-container" class="keyword-link">Fire</a>, 
		the <a href="#principes-the-consideration-set" class="keyword-link">Consideration Set</a>, 
		the <a href="#switch-container" class="keyword-link">Switch</a>, 
		the <a href="#principes-big-hire-little-hire" class="keyword-link">Big & Little Hire</a> & 
		the <a href="#principes-forces" class="keyword-link">Forces</a>.
		</p>
	</div>
</section>
