<header id="page-header">
	<div class="row">
		<div class="small-12 columns"> 
			<h1 class="show-for-medium-up">a Jobs-to-be-Done primer</h1>				
			<h1 class="show-for-small-only">a primer for <br/>Jobs-to-be-Done</h1>				
			<p>Quickly get an overview of the Jobs-to-be-Done framework and start using it today</p>
			
			<div data-magellan-expedition="fixed" class="transparent-nav">
				<dl class="sub-nav">
					<!-- <dd data-magellan-arrival="intro-dest"><a href="#intro-dest">intro</a></dd> -->
					<dd data-magellan-arrival="principals-intro-dest"><a href="#principals-intro-dest">principals</a></dd>
					<dd data-magellan-arrival="practices-intro-dest"><a href="#practices-intro-dest">practices</a></dd>
					<dd data-magellan-arrival="learn-more-dest"><a href="#learn-more-dest">commmunity</a></dd>
				</dl>
			</div>
		</div>
	</div>
</header>

<!-- <li class="divider">|</li> -->