<section class="row" id="header">
 		
	<div class="col-sm-offset-0 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10"> 
 		<h1>What <span class="plus-125">Job</span> does your product do?</h1>
		<p id="lead">Learn about the customer's Job, the Jobs-to-be-Done framework and how to build better products & business with them.</p>						
	</div>
</section>

