<section class="row" id="the-pitch">
	<div class="col-md-12">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Design for your customer’s Job & build a better product</h1>
				<p class="lead">Learn what the Jobs-to-be-Done framework is about and how to build better products & business with it.</p>						
			</div>
		</div>

		<div class="row" id="sub-pitch">
			
			<div class="col-md-4 col-md-offset-1">

				<p class="lead">What product did you last use for a Job?</p>

				<p>Every time someone makes a purchase, it’s because a situation has arisen in their lives which they want to solve.</p>
				<p>That's what a Job is: it's a situation which a customer is trying to resolve.</p>

			</div>
			
			<div class="col-md-2">
				<img src="images/1.a.-Intro-Hot-Air-Balloon-alt.png" alt="">
			</div>
			
			<div class="col-md-4">		
				<p class="lead">Do you know your customers' Jobs?</p>

				<p>To get their Jobs done, customers usually need something, <span class="important">some product</span>, to help them.</p>

				<p>Finding out what Job the customer is trying to get done, understading how they make decisions and applying this knowledge to selling and developing products is why the Jobs-to-be-Done framework was created.</p>
			</div>			
		</div>

	</div>
</section>