<section id="intro" >
	<div class="row show-for-small-only">
		<div class="" id="small-baloon-container">
			<img src="images/balloon-xs.png" alt="">
		</div>

	</div>
	<div class="row" id="intro-dest" data-magellan-destination="intro-dest">
		<div class="small-12 medium-7 columns">
			<h3 class="hand-font">What's the Jobs-to-be-Done framework?</h3>

			<p>The Jobs-to-be-Done framework starts with the the idea that customers buy products, not because of the type of person they are, but because <a href="https://www.youtube.com/watch?v=f84LymEs67Y" target="_blank">they have a job to do</a>.</p>

			<p>Building upon that, in two big ways, it help us create better products:</p>
			<ul>
				<li><p>Suggests principals and practices so we understand the context surrounding customers as they buy products, use them and after they use them.</p></li>
				<li><p>After understanding a customer's <span class="hot">Job</span> and it's context, the framework helps us translate these understandings into marketing and product design decisions.</p></li>
			</ul>

		</div>
		<div class="hide-for-small-only medium-offset-1 medium-4 columns" id="baloon-container">
			<img src="images/balloon-500.png" alt="">
		</div>
	</div>
</section>
