<section class="row" id="jtbd-framework-intro">
	<div class="col-md-12 text-center">
		<h1>The Jobs-to-be-Done Framework </h1>
		<h1>Get Customers To Hire Your Product For Their Job To Be Done</h1>
	</div>
</section>

<section class="row" id="jtbd-framework-intro">
	<div class="col-md-6">
		<p>The Jobs-to-be-Done framework is a collection of Principles and Practices to help build better products of all types; be it software, consumer packaged goods or services.</p>

		<p>It helps businesses and product designers focus on understanding the energy and causal mechanisms which drive a consumer’s purchase decisions and the trade offs customers make as they struggle to achieve a desired outcome.</p>
	</div>
	<div class="col-md-6">
		<p>Jobs-to-be-Done isn’t a checklist of process with an order of execution. There are no step by step instructions to follow. It’s not about framing and segmenting customers by attributes such as age ranges, race, income and marital status. It’s also not about measuring and categorizing customers’ desired outcomes or goals.</p>

		<p>Use the Principles and Practices of the framework to get customers to hire your product for their job.</p>
	</div>
</section>