<section class="row" id="learn-more">
	<div class="col-md-6">
		<h1>Learn More. Join the Community. Make JTBD Better</h1>
		<p>The Jobs-to-be-Done framework is not owned or copyrighted by anyone. Instead, is an open community which encourages anyone to contribute, improve and grow. The more contexts in which it’s used and challenged, the more it can be improved.</p>
	</div>
</section>

<section class="row" id="practices-interview">
	<div class="col-md-3">
		<h2>Watch & Discuss Via Twitter</h2>
		<p>Watch <a href="https://twitter.com/search?q=%23jtbd">#jtbd</a> on twitter to learn about what other community members are up to. If you have an article, experience, observation or question to share - tweet with the #jtbd and get an answer.</p>
	</div>	
	<div class="col-md-3">
		<h2>Read Articles via jobstobedone.org & Medium</h2>
		<p>Read.</p>
	</div>
	<div class="col-md-3">
		<h2>Listen to podcasts on jobstobedone.org</h2>
		<p>Write For The JTBD Medium Collection</p>
	</div>	
	<div class="col-md-3">
		<h2>Write For The JTBD Medium Collection</h2>
	</div>	
</section>


