<section id="learn-more-content">
	<div class="row">
		<div class="small-6 columns">
			<div class="dialog shadowlv2">
				<h4 class="title">Discuss via Twitter</h4>
				<div class="content">
					<p>Read <a href="https://twitter.com/search?q=%23jtbd">#jtbd</a> on twitter to learn about what other community members are up to. </p>
					<p>If you have an article, experience, observation or question to share - tweet with <a href="https://twitter.com/search?q=%23jtbd">#jtbd</a> and get an answer.</p>
					<hr>
					<p class="italic">"Does anyone have stories to share of using #JTBD for marketing messages?" <br/>@alanklement</p>
					<p class="italic">"Some of you wanted me to <a href="http://www.slideshare.net/jppandith/how-to-know-what-customers-really-want">share my slides</a> on #jtbd. DM if you want to practice JTBD interviews.<br/>@jppandith</p>
					<p></p>
				</div>
			</div>
			<div class="dialog shadowlv2">
				<h4 class="title">jobstobedone.org</h4>
				<div class="content">
					<p>The place that started it all. Follow JTBD news, sign up for newsletter, check out the latest blog and radio episodes.</p>
					<hr>
					<p><a href="http://jobstobedone.org/">http://jobstobedone.org/</a></p>
				</div>
			</div>
		</div>
		<div class="small-6 columns">
			<div class="dialog shadowlv2">
				<h4 class="title">Listen to JTBD Radio</h4>
				<div class="content">
					<p>Tune in for a tactician's view of how the Jobs-to-be-Done Framework is applied to every-day business challenges.</p>
					<hr>
					<p class="italic"><a href="http://jobstobedone.org/radio/ash-maurya/">Ash Maurya on Jobs-to-be-Done & Running Lean</a></p>
					<p class="italic"><a href="http://jobstobedone.org/radio/matthew-gunson-talks-advertising-with-jobs-to-be-done/">Matthew Gunson talks Advertising with Jobs-to-be-Done ON JTBD RADIO</a></p>
					<p class="italic"><a href="http://jobstobedone.org/radio/des-traynor-on-jtbd-radio/">JTBD at Intercom: Des Traynor on Jobs-to-be-Done</a></p>
				</div>
			</div>
			<div class="dialog shadowlv2">
				<h4 class="title">Write for & read via Medium</h4>
				<div class="content">
					<p>On Medium, many JTBD enthusists write about their experiences & expertise.</p>
					<p>Want to share your JTBD article? <a href="https://twitter.com/alanklement">Tweet it to the the collection owner!</a></p>
					<hr>
					<p class="italic"><a href="https://medium.com/the-job-to-be-done/asking-why-is-not-always-the-best-strategy-b913ba46fcde">Asking why is not always the best strategy</a> <br/> - Dan Ritzenthaler</p>
					<p class="italic"><a href="https://medium.com/the-job-to-be-done/if-they-dont-ask-about-the-price-its-absolute-bunk-7b2c4183ff32">“If they don’t ask about the price it’s absolute bunk”</a> <br/> - David Wu</p>
					<p class="italic"><a href="https://medium.com/the-job-to-be-done/replacing-the-user-story-with-the-job-story-af7cdee10c27">Replacing The User Story With The Job Story</a> <br/> - Alan Klement</p>
				</div>
			</div>
		</div>
	</div>
</section>
