<header id="learn-more">
	<div class="constrain-content">
		<div class="row">
			<div class="col-xs-12">
				<h2>Where can I learn more?</h2>
				<h2>How can I get involved with other JTBD fans?</h2>
				<p>With the basics down, learn more and collaborate with others about JTBD.</p>
			</div>
		</div>
	</div>
</header>
