<header id="learn-more" data-magellan-destination="learn-more">
	<div class="row">
		<div class="small-12 columns">
			<h2>Where can I learn more?</h2>
			<h2>How can I get involved with other JTBD fans?</h2>
			<p>With the basics down, learn more and collaborate with others about JTBD.</p>
		</div>
	</div>
</header>
