<section class="row" id="practices-timeline">
	<div class="col-md-12 ">
		<h1>Timeline</h1>
		<p>The timeline is an illustration of the keys events which someone experienced while on their journey to buying (or coming close to buying ) a product. It’s helpful in two ways:</p>
		<ul>
			<li>During an interview, a researcher can use the timeline as a guide which helps them know which questions to ask and where to drive the interview.</li>
			<li>Timelines provide a way to find important events. As more customers' timelines are collected, researchers can begin to find similarities with the circumstances in which customers make decisions.</li>
		</ul>

		<p>When interviewing customers, the forces diagram is very helpful when a researcher is looking to uncover the causalities which did, or didn’t, lead to a purchase.</p>

		<p>The timeline should be thought of as a row of dominos: one event has to happen before the customer progresses to the next stage.</p>
	</div>

</section>


<section class="row">
	<div class="col-md-12 ">
		<img src="images/timeline.png" alt="">
	</div>

</section>


