<section class="row" id="practices-forces-diagram">
	<div class="col-md-12">
		<h1>Forces Diagram</h1>
		<div >
			<img src="images/3.a.-Forces-Diagram2.png" alt="">
		</div>
		<p>When a customers uses ( buys ) a solution for a job.</p>
		<p>The Forces Diagram is a way to visualize and remember the forces that progress customers towards a new solution for a job and the forces which keep them using their existing solution(s) for a job.</p>		

		<p>When interviewing customers, the forces diagram is very helpful when a researcher is looking to uncover the causalities which did, or didn’t, lead to a purchase.</p>
	</div>
</section>


