<section class="principals" id="practices-forces-diagram">
	<div class="row">
		<div class="small-12 columns">
			<h1>Forces Diagram</h1>
			<h3>Visualize a customer's emotional energy</h3>
		</div>
	</div>
	
	<div class="row" id="practices-forces-diagram">
		<div class="small-12 columns">
			<img src="images/3.a.-Forces-Diagram2.png" alt="">
		</div>
	</div>

	<div class="row is-below-image">
		<div class="small-12 columns">
			<p>There's a tug of war customers experience  as they use, and switch between, products for their Jobs. This tug of war is between two groups of forces: <span class="jtbd-font-500">Progress-making forces & Progress hindering forces</span>.</p>

			<p>The Forces Diagram is a way for individuals & teams to remember, visualize, orgainze and collabrotate about these forces. </p>	
		</div>
	</div>
</section>
