<section class="principals" id="practices-interview">
	
	<div class="row">
		<div class="small-12 columns">
			<h1>Interviews</h1>	
			<h3>Understanding customers' Jobs.</h3>
		</div>
	</div>

	<div class="horizontal-img-container shadowlv1">
		<div class="row">
			<div class="small-12 columns" id="practices-interview-container">
				<img src="images/3.c.-Interview.png" alt="">
			</div>
		</div>
	</div>

	<div class="is-below-image">
		<div class="row">
			<div class="small-12 columns">
				<p>There’s a particular style of customer interview associated with understanding the customer's Job to be done.</p>
				<p>An important part of these interviews is finding the emotional energy customers express as they try to solve their Jobs.</p>
			</div>
		</div>
	</div>

</section>


