<section class="principals">
	<div class="constrain-content">
		<div class="row">
			<div class="col-xs-12">
				<h1>Forces Diagram</h1>
				<h3>Organize and visualize a customer's emotional energy</h3>
			</div>
		</div>
		
		<div class="row" id="practices-forces-diagram">
			<div class="col-xs-12">
				<img src="images/3.a.-Forces-Diagram2.png" alt="">
			</div>
		</div>

		<div class="row is-below-image">
			<div class="col-xs-12 col-sm-12">
				<p>There's a tug of war customers experience  as they use, and switch between, products for their Jobs. This tug of war is between two groups of forces: <span class="jtbd-font-500">Progress-making forces & Progress hindering forces</span>.</p>

				<p>The Forces Diagram is a way for individuals & teams to remember, visualize, orgainze and collabrotate about these forces. </p>	
			</div>
		</div>
	</div>
</section>
