<section class="principals">
	<div class="constrain-content">
		<div class="row">
			<div class="col-xs-12">
				<h1>Timeline</h1>
				<h3>Identifying key events with emotional energy</h3>
			</div>
		</div>
		
		<div class="row" id="practices-forces-diagram">
			<div class="col-xs-12">
				<img src="images/timeline.png" alt="">
			</div>
		</div>

		<div class="row is-below-image">
			<div class="col-xs-12 col-sm-12">
				<p>The timeline is an illustration of the keys events that are experienced when buying & consuming a product. </p> 
				<p>During an interview, the timeline is a guide to help us know what questions to ask and where to drive the interview. For teams and individuals, it helps organize key events and find patterns in customer behavior.</p>	
			</div>
		</div>
	</div>
</section>
