<header id="practices-intro" data-magellan-destination="practices-intro">

	<div class="row">
		<div class="small-12 columns">
			<h2>What are some practices I can use?</h2>
			<p>Here are some techniques to help you use JTBD.</p>
			<ul>
				<li>Interviews</li>
				<li class="divider">|</li>
				<li>Timeline</li>
				<li class="divider">|</li>
				<li>Forces Diagram</li>
			</ul>
		</div>
	</div>
</header>