<header id="practices-intro">

	<div class="row" id="practices-intro-dest" data-magellan-destination="practices-intro-dest">
		<div class="small-12 columns">
			<h2 class="hide-for-small">What are some practices I can use?</h2>
			<h2 class="show-for-small">What are some practices?</h2>
			<p>Here are some techniques to help you use JTBD.</p>
			<ul>
				<li>Interviews</li>
				<li class="divider">|</li>
				<li>Timeline</li>
				<li class="divider">|</li>
				<li>Forces Diagram</li>
			</ul>
		</div>
	</div>
</header>