<section class="row" id="practices-interview">
	<div class="col-md-6">
		<img src="images/3.c.-Interview.png" alt="">
	</div>
	<div class="col-md-6">
		<h1>JTBD Interviews</h1>
		<p>TThere’s a particular style of customer interview which is associated with discovering and researching the Job To be Done for a product. Different from focus groups, Job Interviews are about interviewing customers one at a time. These interviews usually last about an hour and during this time, product researchers are looking to understand what Job customers are trying to get done and how they are solving it now.</p>
	</div>

</section>


