<section class="principals" id="practices-timeline">
	<div class="row">
		<div class="small-12 columns">
			<h1>Timeline</h1>
			<h3 class="hide-for-small">Identifying key events with emotional energy</h3>
			<h3 class="show-for-small">Identifying purchase progress events</h3>
		</div>
	</div>
	
	<div class="row" id="practices-forces-diagram">
		<div class="small-12 columns">
			<img src="images/timeline.png" alt="">
		</div>
	</div>

	<div class="row is-below-image">
		<div class="small-12 columns">
			<p>The timeline is an illustration of the keys events that are experienced when buying & consuming a product. </p> 
			<p>During an interview, the timeline is a guide to help us know what questions to ask and where to drive the interview. For teams and individuals, it helps organize key events and find patterns in customer behavior.</p>	
		</div>
	</div>
</section>
