<section class="row practices" id="practices-interview">
	<div class="col-md-12">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small></small>JTBD Interviews</h1>
				<h3></i>Talk with customers to learn their Jobs</h3>
			</div>
		</div>

		<div class="row">
			
			<div class="col-md-6 col-lg-offset-1 col-lg-5">

				<p>There’s a particular style of customer interview which is associated with discovering and researching the Job To be Done for a product.</p>

				<p>Different from focus groups, Job Interviews are about interviewing customers one at a time. These interviews usually last about an hour and during this time, product researchers are looking to understand what Job customers are trying to get done and how they are solving it now.</p>
			</div>

			<div class="col-md-6 col-lg-5">
				<img src="images/3.c.-Interview.png" alt="">
			</div>

		</div>
	</div>
</section>


