<section >
	<div class="constrain-content principals">
		<div class="row">
			<div class="col-xs-12">
				<h1>Interviews</h1>	
				<h3>Understanding customers' Jobs.</h3>
			</div>
		</div>
	</div>

	<div class="horizontal-img-container shadowlv1">
		<div class="constrain-content">
			<div class="row">
				<div class="col-xs-12" id="practices-interview-container">
					<img src="images/3.c.-Interview.png" alt="">
				</div>
			</div>
		</div>
	</div>


	<div class="constrain-content is-below-image">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<p>There’s a particular style of customer interview associated with understanding the customer's Jobto be done.</p>
				<p>An important part of these interviews is finding the emotional energy customers express as they try to solve their Jobs.</p>
				</p>
			</div>
		</div>
	</div>

</section>


