<header id="practices-intro">
	<div class="constrain-content">
		
		<div class="row">
			<div class="col-xs-12">
				<!-- <h1>Principals</h1> -->
				<h2>What are some practices I can use?</h2>
				<!-- <h4>Customers don't buy products because of who they are; they buy products to get a job done.</h4> -->
				<p>Here are some techniques to help you use JTBD.</p>
				<ul class="list-inline hidden-xs">
					<li>Interviews</li>
					<li class="divider">|</li>
					<li>Timeline</li>
					<li class="divider">|</li>
					<li>Forces Diagram</li>
				</ul>
				<ul class="list-unstyled visible-xs hidden-sm hidden-md hidden-lg">
					<li>Interviews</li>
					<li class="divider">-</li>
					<li>Timeline</li>
					<li class="divider">-</li>
					<li>Forces Diagram</li>
				</ul>
			</div>
		</div>
	</div>
</header>