<section class="row practices" id="practices-forces-diagram">
	<div class="col-md-12">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 text-center">
				<img src="images/3.a.-Forces-Diagram2.png" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small></small>Forces Diagram</h1>
				<h3></i>Organize and visualize a customer's emotional energy</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-lg-offset-1 col-lg-5">
				<p>There's a tug of war customers experience  as they use, and switch between, products for their Jobs. This tug of war is between two groups of forces: <span class="jtbd-font-500">Progress-making forces & Progress hindering forces</span>.</p>
				
				<p>The Forces Diagram is a way to indivuals & teams to remember, visualize, orgainze and collabrotate about these forces customers expereince. </p>		
			</div>
			<div class="col-md-6 col-lg-5">
				<p>Understanding the Forces is perhaps one of the, if not most, powerful components of the Jobs-to-be-Done framework.</p>
				<p>Product designers can use it as a guide to design better products. Marketers can be used it to help them craft messaging which customers can better relate to. And businesses can use it to understand why, or why not, customer are buying their products.</p>
			</div>
		</div>
	</div>
</section>


