<section class="row principals" id="principes-the-consideration-set">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">				
				<h1><small>The</small>Consideration Set</h1>	
				<h3><i class="fa fa-arrow-right"></i> Solutions being considered to hire for a Job.</h3>

				<p>When deciding what to hire for a Job, customers evaluate the options avalable to them. They are also thinking about the trade offs associated with each solution, as well as the trade offs they are willing to make.</p>

				<p>This is when customers build a Consideration Set.</p> 

				<p>If their Job is to satisfy their hunger, they may consider a pizza...but also a deli sandwich, a burrito, sushi, or even nothing - preferring to wait for another opportunity to eat.</p>

				<p>Knowing what products are in a customer's consideration for a job, gives insight into what products a customer considers as competition for their job to be done.</p>
			</div>

			<div class="col-md-5 full-img">
				<div>
					<img class="shadowlv2" src="images/2.e.-Consideration-Set_BG.png" alt="">
				</div>		
			</div>
		</div>
		<div class="row" id="switch-container">
			<div class="col-md-4 col-md-offset-1">
				<h1><small>The</small>Switch</h1>
				<h3><i class="fa fa-arrow-right"></i> When a customer Fires one solution and Hires another for the same, or similar, Job.</h3>
				<p>Our customer, so far, has been searching for and using a product for a Job: solving hunger in a quick and easy manner</p>
				
				<p>For some time, they had the habit of hiring pizza for their job; however, at some point, they reevaluated their consideration set and made a change. They fired pizza and hired sushi.</p> 

				<p>This is the Switch. It’s when someone fires one solution and hires another to get the same, or similar, job done.</p>
			</div>

			<div class="col-md-5 col-md-offset-1 full-img">
				<div>
					<img class="shadowlv4" src="images/switch.png" alt="">
				</div>		
			</div>
		</div>

		<div class="row" id="why-switch">
			<div class="col-md-4 col-md-offset-4">
				<h2>Why do customers Switch?</h2>
				<p>There are a lot of reasons for a switch. Exploring why someone switches is an entire topic onto itself. But to give an idea, here are some examples of why someone does a switch:</p>
				<ul>
					<li>They found a product which does the Job better: Maybe they found a better tasting pizza.</li>
					<li>After doing the job more, they learned more about the Job and their consideration set grew: They learned that they can buy pre-made sushi and can use that instead of pizza.</li>
					<li>The Job changed a little bit: Someone may decide that Pizza on a regular basis is too unhealthy, so they deicded that the Job is not just to solve their hunger in a quick, easy way...but now they want it to be healthy too.</li>
				</ul>
			</div>
		</div>
	</div>
</section>