<section class="row principals" id="principes-the-hire-fire">
	<div class="col-md-12">
<!-- 		<div class="row" id="hire-container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row dialog shadowlv2">
					<div class="col-sm-6 nopadding">
						<img src="images/hire.png">
					</div>		
					<div class="col-sm-6">
						<h1><small>The</small>Hire</h1>
						<h3><i class="fa fa-arrow-right"></i> When a customer uses a solution for a Job.</h3>
						<p>Job: A quick, easy way to satisfy my appetite. Hire: Pizza!</p>
						<p>Just buying a product isn't enough for a Hire - consumers have to actually use (consume) it!</p>
					</div>		
				</div>
			</div>
		</div>

		<div class="row" id="fire-container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row dialog shadowlv2">
					<div class="col-sm-6">
						<h1 class="hot"><small>The</small>Fire</h1>
						<h3><i class="fa fa-arrow-right"></i> When a customer stops using a solution for a job.</h3>
						<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
						<p>More on that coming up....!</p>
					</div>		
					<div class="col-sm-6 nopadding">
						<img src="images/fire.png" alt="">
					</div>		
				</div>
			</div>
		</div>
		
		<br/>
		<br/> -->
		
		<div class="row" id="hire-container">
			<div class="col-md-5 col-md-offset-1">
				<h1><small>The</small>Hire</h1>
				<h3><i class="fa fa-arrow-right"></i> When a customer uses a solution for a Job.</h3>
				<p>Just buying a product isn't enough for a Hire - consumers have to actually use (consume) it!</p>
			</div>
			<div class="col-md-5">
				<div class="">
					<img src="images/hire.png">
					<p>Job: A quick, easy way to satisfy my appetite. Hire: Pizza!</p>
				</div>
			</div>
		</div>

		<div class="row" id="fire-container">
			<div class="col-md-4 col-md-offset-2">
				<h1 class="hot"><small>The</small>Fire</h1>
				<h3><i class="fa fa-arrow-right"></i> When a customer stops using a solution for a job.</h3>
				<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
				<p>More on that coming up....!</p>
			</div>
			<div class="col-md-4">
				<img src="images/fire.png" alt="">
				<p>"I'm going to stop eating pizza whenever I need a quick bite..."</p>
			</div>
		</div>
	</div>
</section>