<section class="row" id="principes-the-job">
	<div class="col-md-12">
		<h1 class="uber-text text-center">Principals</h1>
		<h1>The Job</h1>
		<p>As we encounter situations in our lives, we need a solution which will carry us from where we are to where we want to be. This need for a solution which will resolve a situation is a job.</p>

		<p>Many jobs are timeless, but solutions for those job may not be. Consider the job of Getting important documents, quickly and safely, from one place to another.</p>
		<div class="text-center">
			<img src="images/2.a.-The-Job.png" alt="">
		</div>

		<p>Pharaohs hired couriers with homing pigeons, who walked along the Nile. President Roosevelt hiring the First Transcontinental Railroad, which used trains. A businessman hiring FedEx, which flies jet planes across the world.</p>
		
		<h4 class="text-center">Even though the job stayed the same for 2,000 years, the solution changed, becoming a better fit each time. </br>A job is place where solutions can fit.</h4>
	</div>
	
</section>

<section class="row text-center" id="principes-the-job">
	<div class="col-md-6 ">
		<h1>The Hire</h1>
		<p>When a customers uses ( buys ) a solution for a job.</p>
		<div>
			<img src="images/2.b.-The-Hire_bg.png" alt="">
		</div>
		<p>Someone hiring pizza as a quick, easy way to satisfy their appetite.</p>
	</div>

	<div class="col-md-6">
		<h1 >The Fire</h1>
		<p>When a customers uses ( buys ) a solution for a job.</p>
		<div >
			<img src="images/2.c.-The-Fire.png" alt="">
		</div>
		<p>Someone deciding to stop eating pizza as a quick, easy way to satisfy their appetite.</p>
	</div>
	
</section>

<section class="row" id="principes-the-job">
	<div class="col-md-4" style="padding-top:200px;">
		<h1>Consideration Set</h1>
		<p>The solutions customers consider Hiring for a Job.</p>

		<p>When considering what to Hire for a Job, customers are thinking of ‘what will do the Job best’ and ‘what trade offs am I evaluating’. </p>

		<p>In this instance, they are building a Consideration Set. If their Job is to satisfy their hunger, they may consider a pizza...but also a deli sandwich, a burrito, sushi, or even nothing - preferring to wait for another opportunity to eat.</p>
	</div>

	<div class="col-md-8">
		<div>
			<img src="images/2.e.-Consideration-Set_noBG.png" alt="">
		</div>		
	</div>
	
</section>

<section class="row text-center" id="principes-the-job">
	<div class="col-md-6 ">
		<h1>The Switch</h1>
		<p>The switch is a specific event that applies to many circumstances. The switch is what happens when customers stick with a job, but fire one solution and hire another.</p>
		<p>An example of a switch is someone who faces the job of solving their hunger in a quick and easy manner. If they had a habit of hiring pizza to get the job done, but then decides they wanted a more healthy solution to the job, they may fire the pizza and hire sushi.</p> 
		<p>This is the Switch. It’s when someone fired one solution ( pizza ) and hired another ( sushi ) to get the same job done ( solving their hunger in a quick and easy manner ).</p>
	</div>

	<div class="col-md-6">
		<div>
			<img src="images/2.d.-The-Switch.png" alt="">
		</div>		
	</div>
	
</section>

<section class="row text-center" id="principes-the-job">
	<div class="col-md-3">
		<h1>The Big Hire</h1>
		<p>When customers first hire a product for a specific job and use it - this is called the Big Hire.</p>
		<h1>The Little Hire</h1>
		<p>Little Hires are when you use a product for jobs other than what you first hired it for. If someone buys & then hires paper towels to clean liquid messes on their counters ( Big Hire ), but then later on, starts to use the paper towels as a makeshift mop, this second use  is called a Little Hire.</p>	
	</div>

	<div class="col-md-9">
			<img src="images/2.f.-Big-Hire-Little-Hire.png" alt="" style="width:100%;">
	</div>
</section>

<section class="row text-center" id="principes-the-job">
	<div class="col-md-12">
	</div>	
</section>