<section class="row" id="principes-forces">
	<div class="col-md-4">
		<h1>Forces</h1>
		<p>Almost every customer experiences emotional energy as they use, purchase and switch between products.</p> 

		<p>This energy can be organized into Forces of progress and Forces of resistance.

Progress forces are the Push of the situation and the Pull of a new solution.

Forces of resistance are the Anxieties associated with switching to a new solution and their Habits associated with their current solution.</p>
	</div>
	<div class="col-md-8">
		
		<div class="text-center">
			<img src="images/forces.png" alt="">
		</div>
	</div>
	
</section>
