<section class="row" id="principes-the-hire-fire">
	<div class="col-md-12">
		<div class="row" id="hire-container">
			<div class="col-md-4 col-md-offset-2">
				<h1 class="hot"><small>The</small>Hire</h1>
				<p>When a customer uses a solution for a <span class="hot heavy6">Job</span>.</p>
				<p>Just buying a product isn't enough for a <span class="hot heavy6">Hire</span> - consumers have to actually use it! (consumption)</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="images/hire.png" alt="">
				<p><span class="hot keyword">Job</span>: A quick, easy way to satisfy my appetite. <span class="hot keyword">Hire</span>: Pizza!</p>
			</div>
		</div>
		<div class="row" id="fire-container">
			<div class="col-md-4 col-md-offset-2">
				<h1 class="hot"><small>The</small>Fire</h1>
				<p>When a customer stops using a solution for a job.</p>
				<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
				<p class="emphasis">More on that coming up....!</p>
			</div>
			<div class="col-md-4 text-center">
				<img src="images/fire.png" alt="">
				<p>Someone hiring pizza as a quick, easy way to satisfy their appetite.</p>
			</div>
		</div>
	</div>
</section>