<section class="row" id="principes-the-hire-fire">
	<div class="col-md-3">
		<h1>The Hire</h1>
		<p>When a customers uses ( buys ) a solution for a job.</p>
		<p>Someone hiring pizza as a quick, easy way to satisfy their appetite.</p>
	</div>
	<div class="col-md-3 full-img">
		<div>
			<img src="images/hire.png" alt="">
		</div>		
	</div>

	<div class="col-md-3">
		<h1>The Fire</h1>
		<p>When a customers uses ( buys ) a solution for a job.</p>
		<p>Someone deciding to stop eating pizza as a quick, easy way to satisfy their appetite.</p>
	</div>
	<div class="col-md-3 full-img">
		<div>
			<img src="images/fire.png" alt="">
		</div>
	</div>	
</section>