<header id="principals-intro">
	<div class="constrain-content">
		<div class="row">
			<div class="col-xs-12">
				<!-- <h1>Principals</h1> -->
				<h2>What are some principals to remember?</h2>
				<!-- <h4>Customers don't buy products because of who they are; they buy products to get a job done.</h4> -->
				<p>Here are a few key concepts that help us talk about and use JTBD.</p>
				<ul class="list-inline hidden-xs">
					<li>Job</li>
					<li class="divider">|</li>
					<li>Hire</li>
					<li class="divider">|</li>
					<li>Fire</li>
					<li class="divider">|</li>
					<li>Consideration Set</li>
					<li class="divider">|</li>
					<li>Switch</li>
					<li class="divider">|</li>
					<li>Forces</li>
				</ul>
				<ul class="list-unstyled visible-xs hidden-sm hidden-md hidden-lg">
					<li>Job</li>
					<li class="divider">-</li>
					<li>Hire</li>
					<li class="divider">-</li>
					<li>Fire</li>
					<li class="divider">-</li>
					<li>Consideration Set</li>						
					<li class="divider">-</li>
					<li>Switch</li>
					<li class="divider">-</li>
					<li>Forces</li>
				</ul>
			</div>
		</div>

	</div>
</header>