<section>
	<div class="constrain-content principals">
		<div class="row">
			<div class="col-xs-12">
				<h1>Forces</h1>	
				<h3>Emotional energy when using, buying, or switching to a product.</h3>
			</div>
		</div>
	</div>

	<div class="horizontal-img-container shadowlv1">
		<div class="constrain-content">
			<div class="row">
				<div class="col-xs-12">
					<img src="images/forces.png">
				</div>
			</div>
		</div>
	</div>


	<div class="constrain-content is-below-image">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<p>Customers can experience a lot of emotional energy as they solve their Jobs.  This energy can be organized into <span class="italic">forces of progress</span> and <span class="italic">forces of resistance</span>. </p>

				<p>Progress forces are the <span class="italic">Push</span> of the situation and the <span class="italic">Pull</span> of a new solution. Forces of resistance are the <span class="italic">Anxieties</span> associated with switching to a new solution and their <span class="italic">Habits</span> associated with their current solution.</p>
					<!-- <img src="/images/arrow-2.png" alt="" id="arrow"> -->
				</p>
			</div>
		</div>
	</div>

</section>