<section class="principals" id="principes-hire-fire-switch">

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h1>Hire</h1>
			<h3>Choosing and using a solution for a <span class="hot">Job</span>.</h3>
			<img class="shadowlv2 hire-fire-switch-img" src="images/hire-sm.png" alt="">
			<p class="is-below-image">Just buying a product isn't enough for a Hire. Consumers have to actually use (consume) it.<p/>			
		</div>	
		<div class="small-12 medium-4 columns">
			<h1>Fire</h1>
			<h3>No longer using a solution for a <span class="hot">Job</span>.</h3>
			<img class="shadowlv2 hire-fire-switch-img" src="images/fire-sm.png" alt="">
			<p class="is-below-image">Why? Well, the <span class="hot">Job</span> may no longer exist, have changed a little or a better solution was found.</p>			
		</div>	
		<div class="small-12 medium-4 columns">
			<h1>Switch</h1>
			<h3>Firing a solution and hiring another for the same <span class="hot">Job</span>.</h3>
			<img class="shadowlv2 hire-fire-switch-img" src="images/switch-sm.png" alt="">
			<p class="is-below-image">When a particular mix of events and emotional energy exists, a customer will choose a different product to use for a <span class="hot">Job</span>.</p>
		</div>	
	</div>

</section>
