<section class="row principals" id="principes-forces">
	<div class="col-md-12">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small>The</small>Forces</h1>
				<h3></i>The emotional energy surrounding the use of, or switch to, a product.</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-lg-offset-1 col-lg-5">
				<p>Almost every customer experiences emotional energy as they use, purchase and switch between products.</p> 
				<p>This energy can be organized into Forces of progress and Forces of resistance. Progress forces are the Push of the situation and the Pull of a new solution. Forces of resistance are the Anxieties associated with switching to a new solution and their Habits associated with their current solution.</p>

			</div>
			<div class="col-md-6 col-lg-5">
				<p>Understanding the Forces is perhaps one of the, if not most, powerful components of the Jobs-to-be-Done framework.</p>
				<p>For Product Designers, these forces can be used to design better products.</p>
				<p>For Marketers and Advertisment, forces can be used to help craft messaging which customers better relate to.</p>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 text-center">
				<img src="images/forces.png" alt="">
			</div>
		</div>

	</div>
</section>
