<section class="row" id="principes-the-job">
	<div class="col-md-4" style="padding-top:200px;">
		<h1>Consideration Set</h1>
		<p>The solutions customers consider Hiring for a Job.</p>

		<p>When considering what to Hire for a Job, customers are thinking of ‘what will do the Job best’ and ‘what trade offs am I evaluating’. </p>

		<p>In this instance, they are building a Consideration Set. If their Job is to satisfy their hunger, they may consider a pizza...but also a deli sandwich, a burrito, sushi, or even nothing - preferring to wait for another opportunity to eat.</p>
	</div>

	<div class="col-md-8 full-img">
		<div>
			<img src="images/consideration-set.png" alt="">
		</div>		
	</div>
	
</section>
