<section class="row principals" id="principes-job">
	<div class="col-md-12">		
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small>The</small>Hire</h1>
				<h3>When a customer uses a solution for a Job.</h3>
			</div>
		</div>

		<div class="row">
			<div class="visible-xs col-xs-12 text-center">
				<img class="" src="images/hire.png" alt="">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
				<p>Just buying a product isn't enough for a Hire. Consumers have to actually use (consume) it!
				Consider this job: Getting a quick bite to eat<p/>
				<p>Just buying a product isn't enough for a Hire. Consumers have to actually use (consume) it!
				Consider this job: Getting a quick bite to eat<p/>
				<p>Just buying a product isn't enough for a Hire. Consumers have to actually use (consume) it!
				Consider this job: Getting a quick bite to eat<p/>
			</div>
			<div class="hidden-xs col-sm-6 col-md-6 col-lg-5">
				<img class="" src="images/hire.png" alt="">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small>The</small>Fire</h1>
				<h3>When a customer stops using a solution for a job.</h3>
			</div>
		</div>

		<div class="row">
			<div class="visible-xs col-xs-12 text-center">
				<img class="" src="images/fire.png" alt="">
			</div>
			<div class="col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
				<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
				<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
				<p>Why? Well, the job may no longer exist...the job may have changed a little bit....or they found a better solution.</p>
				<p>More on that coming up....!</p>
			</div>
			<div class="hidden-xs col-sm-6 col-md-6 col-lg-5">
				<img class="" src="images/fire.png" alt="">
			</div>
		
		</div>
	</div>
</section>
