<section class="row text-center" id="principes-big-hire-little-hire">
	<div class="col-md-3">
		<h1>The Big Hire</h1>
		<p>When customers first hire a product for a specific job and use it - this is called the Big Hire.</p>
		<h1>The Little Hire</h1>
		<p>Little Hires are when you use a product for jobs other than what you first hired it for. If someone buys & then hires paper towels to clean liquid messes on their counters ( Big Hire ), but then later on, starts to use the paper towels as a makeshift mop, this second use  is called a Little Hire.</p>	
	</div>

	<div class="col-md-9">
		<img src="images/big-little-hire.png" alt="" style="width:100%;">
	</div>
</section>

<section class="row text-center" id="principes-the-job">
	<div class="col-md-12">
	</div>	
</section>