<section class="principals" id="principes-job">
	<div class="row">
		<div class="small-12 columns">
			<h1>Job</h1>
			<h3>A situation someone wants to resolve.</h3>
			<p>As we encounter situations in our lives, we need a solution which will carry us from where we are, to where we want to be. Some jobs are timeless, but the solutions may not be.</p>
			<p>Consider this <span class="hot">Job</span>: Transporting documents to far away places.</p>
		</div>
	</div>


	<div class="row">
		<div class="principals" id="principes-job-img-container">
		<div class="small-offset-2 small-8 medium-offset-0 medium-4 columns">
				<img src="/images/jobs-egypt.png">
				<p class="is-below-image img-caption">Pharaohs hired foot couriers & homing pigeons to transport documents.</p>

			</div>
			<div class="small-offset-2 small-8 medium-offset-0 medium-4 columns">
				<img src="/images/jobs-train.png">
				<p class="img-caption is-below-image">President Roosevelt hired trains to get his documents across the US.</p>
			</div>

			<div class="small-offset-2 small-8 medium-offset-0 medium-4 columns">
				<img src="/images/jobs-plane.png">
				<p class="img-caption is-below-image"> Today, businesses hire FedEx to fly their documents across the world.</p>
			</div>	
			<div class="small-offset-2 small-8 medium-offset-0 medium-0 columns">
			</div>	
		</div>
	</div>

</section>
<div id="consideration-set"></div>