<section class="row principals" id="principes-job">
	<div class="col-md-12">
		
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small></small>Job</h1>
				<h3>A need for a solution which resolves a situation.</h3>
				<!-- <h3><i class="fa fa-arrow-right"></i> A need for a solution which resolves a situation.</h3> -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-offset-1 col-lg-5">
				<p>As we encounter situations in our lives, we need a solution which will carry us from where we are, to where we want to be. This need for a solution which will resolve a situation, is a Job.</p>	
				<p>Some jobs are timeless, but the solutions may not be.</p>
			</div>
			<div class="col-md-6 col-lg-5">
				<p>Consider this job: Getting important documents, quickly and safely, from one place to another. Even though the job stayed the same for 2,000 years, the solution changed, becoming a better fit each time.</p>	
			</div>
		</div>
		<div class="row horizontal-image" id="principes-job-containers">
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
				<img src="/images/jobs-egypt.png">
				<p class="img-caption">Pharaohs hired foot couriers & homing pigeons to transport documents.</p>
			</div>	
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
				<img src="/images/jobs-train.png">
				<p class="img-caption">President Roosevelt would hire trains to get his documents across the United States.</p>
			</div>	
			<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
				<img src="/images/jobs-plane.png">
				<p class="img-caption"> Today, businesses hire FedEx to fly their documents across the world.</p>
			</div>	
		</div>
	</div>
	
</section>
