<section class="row" id="principes-the-job-intro">
	<div class="col-md-12">
		<h1>The Job</h1>
		<p>As we encounter situations in our lives, we need a solution which will carry us from where we are to where we want to be. This need for a solution which will resolve a situation is a job.</p>

		<p>Many jobs are timeless, but solutions for those job may not be. Consider the job of Getting important documents, quickly and safely, from one place to another.</p>

		<p>Let's consider a timeless job: Transporting important documents from one place to another...</p>
	</div>
	
</section>
<section>
	<div class="row" id="principals-jobs-container">
		<div class="col-md-4">
			<img src="/images/jobs-egypt.png">
			<p>Pharaohs hired couriers & homing pigeons to carry important documents via foot.</p>
		</div>	
		<div class="col-md-4">
			<img src="/images/jobs-train.png">
			<p>President Roosevelt would hirw trains to transport his documents across the United States.</p>
		</div>	
		<div class="col-md-4">
			<img src="/images/jobs-plane.png">
			<p>A businessman hiring FedEx, which flies jet planes across the world.</p>
		</div>	
		
	</div>
</section>

<section>
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center">Even though the job stayed the same for 2,000 years, the solution changed, becoming a better fit each time. </br>A job is place where solutions can fit.</h4>
			
		</div>
	</div>
</section>
