<section class="row principals">
	<div class="col-md-6">
		<h1><small>The</small>Switch</h1>
		
		<p>An example of a switch is someone who faces the job of solving their hunger in a quick and easy manner. If they had a habit of hiring pizza to get the job done, but then decides they wanted a more healthy solution to the job, they may fire the pizza and hire sushi.</p> 
		<p>This is the Switch. It’s when someone fired one solution ( pizza ) and hired another ( sushi ) to get the same job done ( solving their hunger in a quick and easy manner ).</p>
	</div>

	<div class="col-md-6 full-img">
		<div>
			<img src="images/switch.png" alt="">
		</div>		
	</div>
	
</section>