<header id="principals-intro">
	<div class="row">
		<div class="small-12 columns">
			<h2>What are some principals to remember?</h2>
			<p>Here are a few key concepts that help us talk about and use JTBD.</p>
			<ul class="">
				<li>Job</li>
				<li class="divider">|</li>
				<li>Hire</li>
				<li class="divider">|</li>
				<li>Fire</li>
				<li class="divider">|</li>
				<li>Consideration Set</li>
				<li class="divider">|</li>
				<li>Switch</li>
				<li class="divider">|</li>
				<li>Forces</li>
			</ul>
		</div>
	</div>
</header>