<section class="row principals-review text-center visble-xs hidden-sm hidden-md hidden-lg text-center">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<h2>A quick review....</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h4>Job</h4>
				<img src="/images/jobs-egypt.png">
			</div>
			<div class="col-xs-6">
				<h4>Consideration Set</h4>
				<img src="/images/consideration-set.png">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h4>Hire</h4>
				<img src="/images/hire.png">
			</div>
			<div class="col-xs-6">
				<h4>Fire</h4>
				<img src="/images/fire.png">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h4>Switch</h4>
				<img src="/images/switch.png">
			</div>
			<div class="col-xs-6">
				<h4>Forces</h4>
				<img src="/images/forces.png">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h4>Big Hire</h4>
				<img src="/images/big-hire.png">
			</div>
			<div class="col-xs-6">
				<h4>Little Hire</h4>
				<img src="/images/little-hire.png">
			</div>
		</div>
	</div>
</section>


