<section class="principals">
	<div class="row">
		<div class="small-12 columns">
			<h1>Consideration Set</h1>	
			<h3>Solutions being considered to hire for a Job.</h3>
		</div>
	</div>

	<div class="horizontal-img-container shadowlv1">
		<div class="row">
			<div class="small-12 columns">
				<img src="images/consideration-set-offset.png">
			</div>
		</div>
	</div>

	<div class="row is-below-image">
		<div class="small-12 columns">
			<p>If someone's Job is to quickly satisfy their hunger on-the-go, they may consider a pizza...but also a deli sandwich, a burrito, sushi, or even nothing - preferring to wait for another opportunity to eat.</p>

			<p>Knowing what products are in a customer's consideration set for a <span class="hot">Job</span>, gives insight into what products a customer considers as competition for their <span class="hot">Job</span> to be done.</p>
			<p>
				<!-- <img src="/images/arrow-2.png" alt="" id="arrow"> -->
			</p>
		</div>
	</div>

</section>