<section class="row principals" id="principes-big-hire-little-hire">
	<div class="col-md-12">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small>The</small>Big Hire</h1>
				<h3><i class="fa fa-arrow-right"></i> The Job customers first hire a product for.</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-1 col-lg-5">
				<p>Most of the time, customers hire a product for only one job: a Big Hire. Those are pretty easy to find out about:</p>
				<ul>
					<li>I buy shoes for footware.</li>
					<li>I use paper clips to orgainze my papers.</li>
					<li>I like to spice up my room with candle decorators.</li>
				</ul>
			</div>

			<div class="col-lg-5">
				<img src="/images/big-hire.png" alt="">
				<p>Big Hire: I started using Twitter to know what my friends were up to... </p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-offset-1 col-lg-8">
				<h1><small>The</small>Little Hire</h1>
				<h3><i class="fa fa-arrow-right"></i> Other Jobs customers use a product for.</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-1 col-lg-5">

				<p>Sometimes, during an interview, you can discover ways customers use products in ways other than they first used them for - these other uses are Little Hires</p>
				<ul>
					<li>Sometimes, I <a href="https://www.youtube.com/watch?v=u1wROm-OF9w">use a shoe to open a wine bottle.</a></li>
					<li>Once in a while, <a href="http://i.imgur.com/Ekcrmi4.jpg">I use paper clips to squeeze out toothpaste.</a></li>
					<li>I once <a href="http://www.ikeahackers.net/2014/09/easy-way-to-organize-your-earrings-and-trinkets.html">used my candle decorators to organize jewelery.</a></li>
				</ul>
				<p>Learning about these Little Hires can provide a lot of innovation opportunities for a product.</p>
			</div>

			<div class="col-lg-5">
				<img src="/images/little-hire.png" alt="">
				<p>Little Hire: Over time, I've also started using Twitter to promote my business.</p>
			</div>
		</div>
	</div>
</section>