
<section class="row" id="questions">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-sm-9 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-5">
				<h2 class="hand-font">What Jobs are customers trying to do?</h2>

				<p>Every time someone makes a purchase, it’s because some situation has arisen in their lives which they want to solve.</p>

				<p>That's what a <span class="hot plus-125 jtbd-font-00">Job</span> is: it's a situation which a customer is trying to resolve.</p>
				<p>To get their Jobs done, customers usually need something, some product, to help them. <span class="jtbd-font-700">Discovering</span> what Job the customer is trying to get done, <span class="jtbd-font-700">understanding</span> how they make decisions and <span class="jtbd-font-700">applying</span> this knowledge to sell and create products is why the Jobs-to-be-Done framework was created.</p>				
			</div>

			<div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-3 col-md-4 col-lg-offset-1 col-lg-4">
				<img src="images/balloon-small.png" alt="">
			</div>

		</div>
	</div>
</section>
