<!-- <section class="row" id="questions">
	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2" >

		
		<h3>What Jobs are customers trying to do?</h3>
		<p>Every time someone makes a purchase, it’s because some situation has arisen in their lives which they want to solve.</p>

		<p>That's what a <span class="hot plus-125 jtbd-font-00">Job</span> is: it's a situation which a customer is trying to resolve.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4" >

	
		<h3>How do we know the customer's Job?</h3>
		<p>To get their Jobs done, customers usually need something, some product, to help them.</p>

		<p><span class="jtbd-font-700">Discovering</span> what Job the customer is trying to get done, <span class="jtbd-font-700">understanding</span> how they make decisions and <span class="jtbd-font-700">applying</span> this knowledge to sell and create products is why the Jobs-to-be-Done framework was created.</p>

	</div>
</section> -->

<section class="row" id="questions">
	<div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-6 col-lg-5 col-lg-offset-2" >

		
		<h3 class="hand-font">What Jobs are customers trying to do?</h3>
		<p>Every time someone makes a purchase, it’s because some situation has arisen in their lives which they want to solve.</p>

		<p>That's what a <span class="hot plus-125 jtbd-font-00">Job</span> is: it's a situation which a customer is trying to resolve.</p>

		<h3 class="hand-font">How do we know the customer's Job?</h3>
		<p>To get their Jobs done, customers usually need something, some product, to help them.</p>

		<p><span class="jtbd-font-700">Discovering</span> what Job the customer is trying to get done, <span class="jtbd-font-700">understanding</span> how they make decisions and <span class="jtbd-font-700">applying</span> this knowledge to sell and create products is why the Jobs-to-be-Done framework was created.</p>
	</div>

	<div class="col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-4 col-md-offset-1 col-md-3 col-lg-2" >
			<img src="images/balloon-small.png" alt="">
	</div>
</section>

<!-- 	<div class="col-sm-3 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-2 hidden-xs">
		<img src="images/balloon-small.png" alt="">
	</div>

	<div class="visible-xs col-xs-6 col-xs-offset-4">
		<img src="images/balloon-small.png" alt="">
	</div> -->

