<section class="row jtbd-focus">
	<div class="col-md-5 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">What JTBD focuses on</h3>
			</div>
			<div class="panel-body">
				<p>Emotions surrounding a purchase</p>
				<p>The job to be done</p>
				<p>The events and situations customers experience </p>
				<p>What customers have done in the past (revealed preference)</p>
				<p>A common language for team communication</p>
				<p>Understanding how customers make purchase decisions</p>
				<p>Understanding consumption (and nonconcumspiton)</p>
				<p>The trade off customers make in purchases</p>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">What JTBD doesn’t focus on</h3>
			</div>
			<div class="panel-body">
				<p>Customer attributes</p>
				<p>Customer goals</p>
				<p>A customer’s desired outcomes</p> 
				<p>What customers say they will do ( stated preference )</p>
				<p>Processes and creating deliverables teams for team communication</p>
			</div>
		</div>
	</div>
</section>