<section id="what-focus">
	<div class="row">
		<div class="small-12 columns">
			<h3>What should I be thinking about? XXX</h3>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">	
			<p class="italic">"When dealing with people, remember you are not dealing with creatures of logic, but creatures of emotion."<br/>-Dale Carnegie</p>
			<p>JTBD encourages us to explore the context & emotional energy surrounding a <span class="hot">Job</span>. Once found, understanding this energy will help us know what a product should, and shouldn't, do.</p>
		</div>
		<div class="small-6 columns">
			<div class="dialog shadowlv2">
				<h4 class="title">Think more about</h4>
				<div class="content">
					<p>Different ways to get a <span class="hot">Job</span> done (Consideration Set)</p>
					<p>Situations & struggling moments</p>
					<p>Emotions before, during & after using a product</p>
				</div>
			</div>
			<div class="dialog shadowlv2">
				<h4 class="title">Think less about</h4>
				<div class="content">
					<p>Competition defined by product category</p>
					<p>Personas & atrributes of customers</p>
					<p>Jobs as a single moment or expereience</p>
				</div>
			</div>
		</div>
	</div>
</section>