<section class="row" id="what-focus">
	<div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
		<div class="dialog green-dialog shadowlv1">
			<h3 class="title green-dialog">What JTBD focuses on</h3>
			<div class="content">
				<p>Emotions and context surrounding product use</p>
				<p>What customers have done in the past (revealed preference)</p>
				<p>Understanding consumption (and nonconcumspiton)</p>
				<p>Understanding how customers make purchase decisions</p>
				<p>Tools for communication</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="dialog green-dialog shadowlv1">
			<h3 class="title green-dialog">What JTBD doesn’t focus on</h3>
			<div class="content">
				<p>Customer attributes</p>
				<p>Only a customer's goals</p>
				<p>Measuring a customer’s desired outcomes</p> 
				<p>What customers say they will do ( stated preference )</p>
				<p>Processes and creating deliverables</p>
			</div>
		</div>
	</div>
</section>