<section id="what-focus">
	<div class="row">
		<div class="small-12 columns">
			<h3>What does JTBD focus on?</h3>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">	
			<p class="italic">"When dealing with people, remember you are not dealing with creatures of logic, but creatures of emotion."<br/>-Dale Carnegie</p>
			<p>JTBD encourages us to explore the context & emotional energy surrounding a <span class="hot">Job</span>. Once found, understanding this energy will help us know what a product should, and shouldn't, do.</p>
		</div>
		<div class="small-6 columns">
			<div class="dialog shadowlv2">
				<h4 class="title">JTBD focuses on:</h4>
				<div class="content">
					<p>Context surrounding a <span class="hot">Job</span></p>
					<p>Emotional energy before, during & after product use</p>
					<p>What customers have done in the past</p>
				</div>
			</div>
			<div class="dialog shadowlv2">
				<h4 class="title">JTBD doesn't focuses on:</h4>
				<div class="content">
					<p>Who customers are & their attributes</p>
					<p>Measuring a customer’s desired outcomes</p>
					<p>What customers say they want</p>
				</div>
			</div>
		</div>
	</div>
</section>