<section class="row" id="what-focus">
	<div class="col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
		<div class="dialog green-dialog shadowlv1">
			<h3 class="title green-dialog">What JTBD focuses on</h3>
			<div class="content">
				<p>Emotions and context surrounding product use</p>
				<p>What customers have done in the past</p>
				<p>Consumption & non-consumption</p>
				<p>How customers make purchase decisions</p>
				<p>Tools for communication</p>
			</div>
		</div>
	</div>
	<div class="col-md-5 col-lg-5">
		<div class="dialog green-dialog shadowlv1">
			<h3 class="title green-dialog">What JTBD doesn’t focus on</h3>
			<div class="content">
				<p>Customer attributes</p>
				<p>Only a customer's goals</p>
				<p>Measuring a customer’s desired outcomes</p> 
				<p>What customers say they want</p>
				<p>Processes and creating deliverables</p>
			</div>
		</div>
	</div>
</section>