<section id="what-focus" id="what-think-less-more-about">
	<div class="row">
		<div class="small-12 columns">
			<h3>What should I be thinking about?</h3>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 columns">	
			<div class="dialog shadowlv2">
				<h4 class="title">Think more about</h4>
				<div class="content">
					<p>Different ways to get a <span class="hot">Job</span> done (Consideration Set)</p>
					<p>Situations & struggling moments</p>
					<p>Emotions before, during & after using a product</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="dialog shadowlv2">
				<h4 class="title">Think less about</h4>
				<div class="content">
					<p>Competition defined by product category</p>
					<p>Personas & attributes of customers</p>
					<p>Jobs as a single moment or experience</p>
				</div>
			</div>
		</div>
	</div>
</section>