<section id="who-use-boxes" class="row">
	<div class="col-md-3">
		<h4>Marketing & Advertising</h4>
		<p>Knowing how to communicate directly to customers’ struggle and in what contexts.</p>
	</div>
	<div class="col-md-3">
		<h4>Environmentalism</h4>
		<p>Understanding why people get involed in soclal movements..</p>
	</div>
	<div class="col-md-3">
		<h4>Business Owner</h4>
		<p>Easily align and bring into sync the various parts of an organizations by providing a succinct, lucid goal. </p>
	</div>
	<div class="col-md-3">
		<h4>Government</h4>
		<p>Citizens demawhond a great deal of thier elected representatives. Often, different voters who think they are asking something differnet - same thing...</p>
	</div>
</section>