<section id="who-use" class="row">
	<h2>Who Uses The Jobs-to-be-Done Framework</h2>
	<p>The concept of the job to be done along with the principles and practices of the Jobs-to-be-Done framework are about understanding the motivations and emotions we experience while navigating countless situations. Here are a few, of the many, different ways people can use The Jobs-to-be-Done Framework.</p>
</section>