<section class="row who-use-jtbd visibe-sm hidden-md hidden-lg"> 
	<div class="col-md-12">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Marketing & Advertising</h4>
					<div class="content">
						<p>Knowing how to communicate directly to customers’ struggle and in what contexts</p>
					</div>
				</div>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Environmentalism</h4>
					<div class="content">
						<p>Understanding why people get involed in soclal movements..</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Business Owner</h4>
					<div class="content">
						<p>Easily align and bring into sync the various parts of an organizations by providing a succinct, lucid goal.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Inventor</h4>
					<div class="content">
						<p>Hello Im' Michale Cain</p>
					</div>
				</div>
			</div>
		</div>	

		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Graphic Designers</h4>
					<div class="content">
						<p>Knowing how to communicate directly to customers’ struggle and in what contexts.</p>
						<p>Some really great text Some really great text Some really great text Some really great text</p>
					</div>
				</div>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Government</h4>
					<div class="content">
						<p>Understanding why people get involed in soclal movements. Some really great text Some really great text Some really great text</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">UX Designers</h4>
					<div class="content">
						<p>Easily align and bring into sync the various parts of an organizations by providing a succinct, lucid goal.</p>
						<p>Easily align and bring into sync the various parts of an organizations by providing a succinct, lucid goal.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
				<div class="dialog shadowlv2">
					<h4 class="title">Produt Managers</h4>
					<div class="content">
						<p>Inventing something no one wants can be much easily avoided when a consumer’s job to be done is understood.</p>
						<p>Some really great text</p>
						<p>Some really great text</p>
						<p>Some really great text</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
