<section class="row">

	<div class="col-md-5 col-md-offset-1">
		<h1 class="super">So...who can use the JTBD framework?</h1>
	</div>	

	<div class="col-md-4">
		<div class="row">
			<div class="col-md-6">
				<h4>Marketing & Advertising</h4>
				<p>Knowing how to communicate directly to customers’ struggle and in what contexts.</p>
			</div>
			<div class="col-md-6">
				<h4>Environmentalism</h4>
				<p>Understanding why people get involed in soclal movements..</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h4>Business Owner</h4>
				<p>Easily align and bring into sync the various parts of an organizations by providing a succinct, lucid goal. </p>
			</div>
			<div class="col-md-6">
				<h4>Inventor</h4>
				<p>Inventing something no one wants can be much easily avoided when a consumer’s job to be done is understood.</p>
			</div>
		</div>
	</div>

</section>
